.full_body{
  height: 100%;
  width: 100%;
  padding:0px;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.myimage{
  width: 100%;
  height: 100%;

}
.logo{
  background-color: red;
  height: 80px;
  width: 110px;
  margin-left: 120px;

}
.auth{
  margin-right: 120px;
  padding: 10px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;

}
.search_title{
  margin: auto;
  text-align: center;
  margin-top:100px;
  background-color:#ffffff;
  width: 150px;

}
.search{
  margin: auto;
  text-align: center;
  margin-top:30px;
  background-color:#ffffff;
  width: 600px;
}
.search_button{
  margin: auto;
  text-align: center;
  margin-top:10px;

  width: 600px;
}

.serch_form{
  padding: 20px;
}
.catagories{
//margin-top: 20px;
  text-align: center;
  background-color: #3e3e3e;
  text-align: center;
  height: 40px;
}
.catagories_list{
  width: 1024px;
  align-items: center;
}
.catagories_list ul li{
  display: inline;
  text-decoration: none;
  padding: 5px;

}
.footer{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 120px;
  margin-right: 120px;
  overflow: auto;
}
.cards{

  margin: auto;
  height: 150px;
  padding: 10px;
}
.copyWright{
  background-color: black;
  margin-bottom: 0px;
  color: #ffffff;
  padding: 10px;

}
